
<ion-view  hide-nav-bar="true" ng-controller="mainController" class="dark">
    <ion-content scroll='true'>

<div class="identifiant">
	<img src="img/logo.png" alt="" class="logo">
	
</div>


<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nom d'utilisateur</span>
    <input type="text" placeholder="Nom d'utilisateur" style="
    color: white;
">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Mot de passe</span>
    <input type="password" placeholder="Mot de passe" style="
    color: white;
">
  </label>
</div>




  <div class="connexion">
    <button class="button button-dark" ng-click="showPopup()">
      CONNEXION
    </button>
  </div>


 <div class="nouveau-compte">
    <button class="button button-dark" ng-click="showPopup()">
      NOUVEAU COMPTE
    </button>
  </div>

<div class="but">
<a ui-sref="home">Mot de passe oublié ?</a>
</div>
    </ion-content>








  </ion-view>