<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="mainController">
    <ion-content scroll='true'>
      <ion-slides class="time-slide" options="options" slider="data.slider">
        <ion-slide-page ng-repeat="img in slide track by $index">
          <div><img src="{{img}}" alt="" ></div>
        </ion-slide-page>
      </ion-slides>

      <div class="automat">
        <div><img src="{{automat}}" alt="" ></div>
        <div class="text1">
          <p>Montres <br>
            Automatique</p>
        </div>
      </div>

<div class="section_quartz">
        <div><img src="{{section_quartz}}" alt="" ></div>
        <div class="text1">
          <p>Montres <br>
            Quartz</p>
        </div>
      </div>

      <div class="marques">
        <div><img src="{{marques}}" alt="" ></div>
        <div class="text1">
          <p>Marques</p>
        </div>
      </div>
    
    </ion-content>
</ion-view>
