<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="manuelleController">

    <ion-content scroll='true'>


        <div class="cat-automatique">
            <div><img src="{{cover}}" alt="" ></div>
            <div class="text1">
                <p>Categorie <br>
                    Automatique</p>
            </div>
        </div>

        <div class="cat-montre1" ng-repeat="montres in montre track by $index">
            <a href="#/selection-manuelle/{{montres.id}}"><img src="{{ montres.images[0].src }}" alt="{{ montres.name }}"></a>
        </div>

    </ion-content>
</ion-view>
