<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="quartzController">
    <ion-content scroll='true' class="dark">
<!--<ion-slides class="time-slide" options="options" slider="data.slider">
        <ion-slide-page ng-repeat="img in slide track by $index">
          <div><img src="{{img}}" alt="" ></div>
        </ion-slide-page>
      </ion-slides>-->






<div class="autres-marques" ng-repeat="montresfond in montresfond track by $index">
  <img src="{{montresfond.img1}}" alt="">
</div>



    </ion-content>
</ion-view>