
 

<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="mainController" class="dark">
    <ion-content scroll='true'>

<div class="identifiant">
	<img src="img/tete.png">
	<a ui-sref="modif">Modifier la photo de profil</a>
</div>


<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Nom</span>
    <input type="text" placeholder="Nom">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Prénom">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Adresse mail">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Telephone">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Femme">
  </label>
</div>


<div class="but">
<a ui-sref="home">Déconnexion</a>
</div>
    </ion-content>








  </ion-view>
