<ion-view  ng-controller="quartzController">
    <ion-content scroll='true' class="dark">
<!--<ion-slides class="time-slide" options="options" slider="data.slider">
        <ion-slide-page ng-repeat="img in slide track by $index">
          <div><img src="{{img}}" alt="" ></div>
        </ion-slide-page>
      </ion-slides>-->


<div class="quartz">
  <div><img src="{{montres}}" alt=""></div>
    <div class="text1">
      <p>Sélection <br>
        Quartz</p>
    </div>
</div>



<div class="autres-montres" ng-repeat="montresfond in montresfond track by $index">
  <a href="#/selection-quartz/{{montresfond.id}}"><img src="{{montresfond.img}}" alt=""></a>
</div>



    </ion-content>
</ion-view>
