<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="autoController">
    <ion-content scroll='true' class="dark">
<!--<ion-slides class="time-slide" options="options" slider="data.slider">
        <ion-slide-page ng-repeat="img in slide track by $index">
          <div><img src="{{img}}" alt="" ></div>
        </ion-slide-page>
      </ion-slides>-->

     

    <div class="produit">
        <img src="{{cover}}" alt="">
    </div>


<div class="bouton">
  <img src="img/360.png">
  <p>360°</p>
</div>

<div class="bouton">
<img src="img/souris.png">
<p>RA</p>
</div>

  <div class="validation"  ng-controller="PopupCtrl">
    <button class="button button-dark" ng-click="showConfirm()">
      Réserver
    </button>

  </div>



    </ion-content>
</ion-view>

