<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="manuController">
    <ion-content scroll='true' class="dark padding">

        <div class="produit">
            <img src="{{montre.images[0].src}}" alt="">
        </div>

        <div class="products">
            <h3>{{montre.name}}</h3>
            <p>
                {{montre.description}}
            </p>
        </div>



        <div class="validation"  ng-controller="PopupCtrl">
            <button class="button button-dark" ng-click="showConfirm()">
                Réserver
            </button>
        </div>

    </ion-content>
</ion-view>

