<ion-view view-title='<img src="img/logo.png" alt="" class="logo">' ng-controller="modelController">
    <ion-content scroll='true' class="dark">
<!--<ion-slides class="time-slide" options="options" slider="data.slider">
        <ion-slide-page ng-repeat="img in slide track by $index">
          <div><img src="{{img}}" alt="" ></div>
        </ion-slide-page>
      </ion-slides>-->

     

      
        <img src="{{cover}}" alt="">
    <button class="button button-dark" ng-click="showPopup()">
      show
    </button>


    </ion-content>
</ion-view>